.location {
  padding: 6px;
  box-shadow: 0px -5px 3px -5px rgba(102, 102, 102, 0.8);
  background: rgb(241, 241, 241);
}

.container-location {
  max-width: 169px;
  margin: 0px auto;
  font-size: 18px;
}

.title, .reservation h2 {
  font-size: 24px;
  line-height: 26px;
}

.reservation {
  text-align: center;
  margin-top: 54px;
  padding: 0px 40px;
}
.reservation p {
  margin-top: 18px;
  font-size: 17px;
  line-height: 19px;
}
.reservation a {
  margin: 0 auto;
  display: block;
  margin-top: 34px;
  padding: 18px 26px;
  border-radius: 25px;
  text-decoration: none;
  background-color: #e9e9e9;
  color: white;
  width: fit-content;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
}
.reservation h2 {
  margin: 0 26px;
}

.fonctionnement {
  margin-top: 101px;
  padding: 0 21px;
}

.parent-card-etape {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin-top: 40px;
  row-gap: 43px;
}

.card-etape {
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  border-radius: 15px;
  position: relative;
}
.card-etape svg {
  fill: gray;
}
.card-etape p {
  margin-left: 20px;
}
.card-etape:hover {
  background-color: #fde3f6;
}
.card-etape:hover svg {
  fill: #9356DC;
}

.card-etape:nth-child(1)::before {
  content: "1";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  left: -17px;
  border-radius: 100%;
}

.card-etape:nth-child(2)::before {
  content: "2";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  left: -17px;
  border-radius: 100%;
}

.card-etape:nth-child(3)::before {
  content: "3";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  left: -17px;
  border-radius: 100%;
}

.restaurants {
  margin-top: 130px;
  padding: 0 20px;
}

.parent-card-restaurant {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card-restaurant {
  display: block;
  height: 250px;
  text-decoration: none;
  color: black;
}

.card-restaurant-img {
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}

#palette {
  background: url(../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center center/cover no-repeat;
}

#noteEnchantee {
  background: url(../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center center/cover no-repeat;
}

#francaise {
  background: url(../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) center center/cover no-repeat;
}

#deliceSens {
  background: url(../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) center center/cover no-repeat;
}

.card-restaurant-new {
  position: absolute;
  padding: 8px 8px;
  background-color: #99E2D0;
  border-radius: 2px;
  right: 1px;
  margin-right: 14px;
  top: 10px;
  color: #1d9778;
  font-weight: bold;
}

.card-restaurant-content {
  padding: 13px 23px 13px 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 15px rgba(203, 200, 200, 0.5);
  border-radius: 0px 0px 15px 15px;
}

.card-restaurant-informations {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.card-restaurant-informations h3 {
  font-weight: bold;
  font-size: 18px;
}
.card-restaurant-informations span {
  font-size: 17px;
}

.like:hover {
  animation: fill-grad 0.5s forwards;
}

@keyframes fill-grad {
  from {
    fill: white;
  }
  to {
    fill: url(#grad);
  }
}
@media only screen and (min-width: 500px) {
  .parent-card-restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}
@media only screen and (min-width: 771px) {
  body {
    max-width: none;
  }
  .restaurants {
    max-width: 900px;
    margin: 130px auto 0 auto;
  }
  .fonctionnement {
    max-width: 900px;
    margin: 101px auto 0 auto;
  }
  .main-footer-column {
    max-width: 900px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=index.css.map */
