footer {
    padding: 27px 0px 27px 25px;
    a:first-child {
        font-family: 'Shrikhand', sans-serif;
        font-size: 18px;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    background-color: rgb(63, 62, 62);

}

.main-footer-contents {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.main-footer-contents-with-logo {
    display: flex;
    flex-direction: row;
    a {
        margin-left: 4px;
    }
    i {
        color: white;
    }
}
