@import "../libs/colors.scss";

body {
    position: relative;
}

.img-repas {
    width: 100%;
    height: 255px;
    position: absolute;
}

.section-menu {
    position: relative;
    z-index: 1;
    margin-top: 215px;
}

.card-menu {
    padding: 42px 15px 32px 15px;
    border-radius: 40px 40px 0 0;
    width: 100%;
    background-color: #F7F7F7;
}

.card-menu-header {
    padding-right: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
        font-family: 'Shrikhand', sans-serif;
        font-size: 28px;
    }
    div {
        display: flex;
        width: 30px;
        height: 30px;
    }
    i {
        display: flex;
        align-items: center;
    }
    i:hover {
        font-weight: 900;
        color: transparent;
        background-image: linear-gradient(to right bottom, $secondary, $primary);
        background-clip: text;
        transition: all .7s ease-in-out;
    }
}

.card-menu-items {
    opacity: 0;
    margin-top: 38px;
    & h3 {
        position: relative;
    }
    & h3::after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        bottom: calc(100% - 25px);
        width: 40px;
        height: 2px;
        background: $tertiary;
    }
    &:first-child {
        margin-top: 35px;
    }
}

.card-menu-items-plats {
    display: block;
    position: relative;
    margin-top: 11px;
    box-shadow: 0px 5px 15px rgb(203 200 200 / 50%);
    border-radius: 15px;
    overflow: hidden;
    color: black;
    text-decoration: none;
}

.card-menu-items-plats-first-child {
    margin-top: 15px;
}

.card-menu-items-plats-informations {
    display: flex;
    h4 {
        font-weight: bold;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;    
    }
    div:nth-child(1) {
        padding: 15px 0px 15px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
        span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; 
        }
    }
    &:hover .card-menu-items-informations-check {
        margin-right: 0;
    }
    &:hover .card-menu-items-informations-check i{
        animation: rotate 1s ease-in-out;
    }
    &:hover .card-menu-items-informations-price {
        padding-left: 5px;
    }
}

.card-menu-items-informations-check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -4rem;
    transition: margin-right 0.5s;
    width: 4rem;
    background-color: $tertiary;
    flex-shrink: 0;
    i {
        color: white;
    }
}

.card-menu-items-plats-informations-ingredients {
    display: block;
    margin-top: 8px;
}

.card-menu-items-informations-price {
    display: flex;
    align-items: end;
    margin-left: auto;
    padding: 0px 20px 15px 0px;
    font-weight: bold;
}

.card-menu-items:nth-child(2) {
    animation: appear forwards;
    animation-duration: 1s;
}

.card-menu-items:nth-child(3) {
    animation: appear forwards;
    animation-delay: 1s;
    animation-duration: 1s;
}

.card-menu-items:nth-child(4) {
    animation: appear forwards;
    animation-delay: 2s;
    animation-duration: 1s;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(-250deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media only screen and (min-width: 630px) {
    .section-menu {
        margin-top: 300px;
    }
    .img-repas {
        height: 350px;
    }
}
