@import "../libs/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 768px;
    margin: 0 auto;
}




